beautifulsoup4==4.4.1
dj-database-url==0.3.0
Django==1.9.2
django-debug-toolbar==1.4
django-pipeline==1.6.0
django-postgrespool==0.3.0
futures==3.0.3
gunicorn==19.3.0
MarkupSafe==0.23
psycopg2==2.6
PyExecJS==1.1.0
PyReact==0.5.2
SQLAlchemy==1.0.4
sqlparse==0.1.18
wheel==0.24.0
whitenoise==1.0.6
