{% extends "base.html" %}
{% block title %}{{ course.short_name }} | Layup List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1> {{ course }} </h1>
        {% if course.is_offered %} <h4>Offered {{ term }} ({{ course.offered_times_string }})</h4> {% endif %}
        {% if course.description %} <p> {{ course.description }} </p> {% endif %}
        {% if xlist %}
            <p>
                Crosslisted with
                {% for x in xlist %}
                    <a href="{{ x.get_absolute_url }}">{{ x.short_name }}</a>
                {% endfor %}
            </p>
        {% endif %}
        {% if course.url %} <p><a href="{{ course.url }}">View on ORC.</a></p> {% endif %}
        {% if distribs_string %} <p> Distribs: {{ distribs_string }} </p> {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Medians</h3>
        <div class="median-chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2 text-center score-box">
        <span class="vote-arrow glyphicon glyphicon-chevron-up {% if quality_vote and quality_vote.is_upvote %}selected{% else %}unselected{% endif %}"
        onclick="LayupList.Web.CourseDetail.upvote({{ course.id }}, this, false);"></span>
        <h2 class="score"> {{ course.quality_score }} </h2>
        <span class="vote-arrow glyphicon glyphicon-chevron-down {% if quality_vote and quality_vote.is_downvote %}selected{% else %}unselected{% endif %}"
        onclick="LayupList.Web.CourseDetail.downvote({{ course.id }}, this, false);"></span>
        <p>said it was good</p>
    </div>
    <div class="col-md-2 col-md-offset-4 text-center score-box">
        <span class="vote-arrow glyphicon glyphicon-chevron-up {% if layup_vote and layup_vote.is_upvote %}selected{% else %}unselected{% endif %}"
              onclick="LayupList.Web.CourseDetail.upvote({{ course.id }}, this, true);"></span>
        {% if request.user.is_authenticated %}
            <h2 class="score"> {{ course.layup_score }} </h2>
        {% else %}
            <p class="score">
                <a href="{% url 'signup'%}">Signup to reveal</a>
            </p>
        {% endif %}
        <span class="vote-arrow glyphicon glyphicon-chevron-down {% if layup_vote and layup_vote.is_downvote %}selected{% else %}unselected{% endif %}"
              onclick="LayupList.Web.CourseDetail.downvote({{ course.id }}, this, true);"></span>
        <p>called it a layup</p>
    </div>
</div>
<p></p>
<div id="reviews" class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <h3>Reviews ({{ reviews.paginator.count }})</h3>
            </div>
            <div class="col-md-4">
                <form class="course-review-search" action="{% url 'course_review_search' course.id %}" method="get" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input name="q" type="text" class="form-control" placeholder="Search reviews and professors">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if reviews %}
        <table class="table table-striped">
            <tbody>
                {% for review in reviews %}
                    <tr><td>
                        {% if review.term %}
                            <b>{{ review.term }}</b>
                            {% if review.professor %}<b> with {{review.professor}}</b>{% endif %}:
                        {% endif %}
                        {{ review.comments }}
                    </td></tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                {% if reviews.has_previous %}
                    <li><a href="{% url 'course_detail' course.id %}?page={{ reviews.previous_page_number }}#reviews"><span aria-hidden="true">&larr;</span> Previous</a></li>
                {% else %}
                    <li class="disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
                {% endif %}

                <li>{{ reviews.number }} of {{ reviews.paginator.num_pages }}</li>

                {% if reviews.has_next %}
                    <li><a href="{% url 'course_detail' course.id %}?page={{ reviews.next_page_number }}#reviews">Next <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
            <p>No reviews found</p>
        {% endif %}
    </div>
</div>
<div id="write-review" class="row">
    <div class="col-md-12">
        <h3>Write a Review for {{ course.short_name }}</h3>
        {% if review_form %}
            <form method="post" action="#write-review">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {{ review_form|crispy }}
                <div class="text-right">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </form>
        {% else %}
            <p>
                {% if request.user.is_authenticated %}
                    You have already written a review!
                {% else %}
                    <a href="{% url 'auth_login' %}">Login</a> to write a review.
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
