{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h1> Search Results For "{{ query }}" </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
{% if not query %}
    <h3>Empty query string. Please enter a search query. Example: COSC 001</h3>
{% elif query|length < 3 %}
    <h3>Query must be at least 3 characters long.</h3>
{% elif not courses %}
    <h3>Could not find any results. Please double-check your search query, and make sure the department and course number are correct.</h3>
{% else %}
    <table class="table">
        <thead>
            <th>Course</th>
            <th>Number of Reviews</th>
            <th>Quality Score</th>
            <th>Layup Score</th>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td> <a href="{% url 'course_detail' course.id %}">{{ course }}</a> </td>
                <td> {{ course.review_set.count }} </td>
                <td> {{ course.quality_score }} </td>
                <td>
                    {% if request.user.is_authenticated %}
                        {{ course.layup_score }}
                    {% else %}
                        <a href="{% url 'signup'%}">Signup to reveal</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
    </div>
</div>

{% endblock %}
