{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ term }} {{ course_type }}</h1>
        <h4>{{ courses.paginator.count }} total</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th>Rank</th>
                <th>Course</th>
                <th><a href="{% url 'current_term'  %}?sort=layup">Layup Score</a></th>
                <th><a href="{% url 'current_term'  %}?sort=quality">Quality Score</a></th>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td><h2>{{ courses.start_index|add:forloop.counter0 }}</h2></td>
                    <td>
                        <h3><a href="{% url 'course_detail' course.id %}">{{ course }}</a></h3>
                        <h5>{{ course.distribs_string }} </h5>
                    </td>
                    <td><h2>{{ course.layup_score }}</h2></td>
                    <td><h2>{{ course.quality_score }}</h2></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if courses.has_previous %}
            <li><a href="{% url 'current_term' %}?page={{ courses.previous_page_number }}&sort={{ request.GET.sort }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% else %}
            <li class="disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}

        <li>{{ courses.number }} of {{ courses.paginator.num_pages }}</li>

        {% if courses.has_next %}
            <li><a href="{% url 'current_term' %}?page={{ courses.next_page_number }}&sort={{ request.GET.sort }}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
            <li class="disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
