<div class="footer">
    <div class="footer-inner text-center">
        <h5><a class="support-link" href="mailto:support@layuplist.com">Questions, comments, product suggestions? Email: support@layuplist.com</a></h5>
        <p>
            Layup List is currently a WIP. Current layup and quality scores are calculated based on textual analysis of old reviews, circulated layup lists, and more. Upcoming features include: user account creation, the ability to write reviews, and voting on best and layup courses.
        </p>
    </div>
</div>
