{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Layup List</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-4">
                <h1><span class="glyphicon glyphicon-stats"></span></h1>
                <p>Detailed median charts and extensive reviews</p>
            </div>
            <div class="col-md-4">
                <h1><span class="glyphicon glyphicon-fire"></span></h1>
                <p>See the best and easiest classes this term</p>
            </div>
            <div class="col-md-4">
                <h1><span class="glyphicon glyphicon-thumbs-up"></span></h1>
                <p>Vote on the best and easiest classes</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <form class="landing-search" action="{% url 'course_search' %}" method="get" role="search">
            <div class="form-group">
                <div class="input-group">
                    <input name="q" type="text" class="search-input form-control" placeholder="Search for Courses...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </div>
        </form>
        <a href="{% url 'current_term' 'best' %}"><button type="button" class="btn btn-success">View Best Classes</button></a>
        <a href="{% url 'current_term' 'layups' %}"><button type="button" class="btn btn-success">View Layups</button></a>
    </div>
</div>
{% endblock %}
