{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p id="large">
                <object class="logo" data="{% static " img/logo.svg " %}"></object>
            </p>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p id="medium">You are successfully logged out. If this was a mistake, please click here to <a href="/accounts/login/">login</a>.</p>
            <!-- <p id="signupError">{{ error }}</p> -->
        </div>
    </div>



    <br>

    <br>
    <br>
</div>
{% endblock %}
