{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'landing' %}">
            <img class="logo" src="{% static "img/logo.svg" %}">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'current_term'  'best' %}">Best Classes</a></li>
        <li><a href="{% url 'current_term' 'layups' %}">Layups</a></li>
        <li><a href="{% url 'recommendations' %}">Recommendedations</a></li>
        <li><a href="{% url 'departments' %}">Browse</a></li>
        {% if request.user.is_staff %}
            <li><a href="{% url 'analytics_home' %}">Analytics</a></li>
        {% endif %}
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" action="{% url 'course_search' %}" method="get" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="q" type="text" class="form-control" placeholder="Course Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Search</button>
                        </span>
                    </div>
                </div>
            </form>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>
