{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <p id="large">Sign up</p>
    </div>
</div>
<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="signupError">
            {{ error }}
            {% if request.GET.restriction %}
                Please signup to {{ request.GET.restriction }}.
            {% endif %}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p id="very-small-center">Already have an account? <a href="/accounts/login/">Login</a> here.</p>
    </div>
</div>
{% endblock %}
