{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>{{ term }} {{ course_type }}</h1>
    </div>
    <div class="col-md-2 text-right">
        <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="distributive">Distrib:</label>
              <select name="dist" class="form-control" onchange="this.form.submit()">
                  <option value="">Filter by distrib</option>
                  {% for distrib in distribs %}
                      <option value="{{ distrib.name.lower }}">{{ distrib.name.upper }}</option>
                  {% endfor %}
              </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                {% if sort == "best" %}
                    <th class="text-center">Quality Score</th>
                {% else %}
                    <th class="text-center">Layup Score</th>
                {% endif %}
                <th>Course</th>
            </thead>
            <tbody>
                {% for course, vote in courses_and_votes %}
                <tr>
                    <td class="text-center">
                        <span class="vote-arrow glyphicon glyphicon-chevron-up {% if vote and vote.is_upvote %}selected{% else %}unselected{% endif %}"
                              onclick="LayupList.Web.CurrentTerm.upvote({{ course.id }}, this);"></span>
                        {% if sort == "best" %}
                            <h2 class="score">{{ course.quality_score }}</h2>
                        {% else %}
                            <h2 class="score">{{ course.difficulty_score }}</h2>
                        {% endif %}
                        <span class="vote-arrow glyphicon glyphicon-chevron-down {% if vote and vote.is_downvote %}selected{% else %}unselected{% endif %}"
                              onclick="LayupList.Web.CurrentTerm.downvote({{ course.id }}, this);"></span>
                    </td>
                    <td>
                        {% include "components/course_summary.html" with course=course only %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if courses.has_previous %}
            <li><a href="{% url 'current_term' sort %}?page={{ courses.previous_page_number }}&dist={{ request.GET.dist }}"><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% else %}
            <li class="disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
        {% endif %}

        <li>{{ courses.number }} of {{ courses.paginator.num_pages }}</li>

        {% if courses.has_next %}
            <li><a href="{% url 'current_term' sort %}?page={{ courses.next_page_number }}&dist={{ request.GET.dist }}">Next <span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
            <li class="disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
