{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p id="large">
            </p>

        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p id="medium">Registration successful. Please check your email for a confirmation link and follow the instructions to activate your account.</p>
        </div>
    </div>
    <br>

    <br>
    <br>
</div>

{% endblock %}
