{% extends "base.html" %}
{% block title %}Recommendations | Layup List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{% if request.GET.show_all %}All{% else %}{{ constants.CURRENT_TERM }}{% endif %} Recommended For You</h1>
        {% if request.user.student.can_see_recommendations %}
            {% if recommendations %}
                <p>These courses have similar course descriptions to courses you have upvoted. If you vote on any of the classes on this list they will go away.</p>
                <p>Want better recommendations? Upvote classes that you think are good!</p>
                <p>
                    {% if request.GET.show_all %}
                    <a href="?">Show {{ constants.CURRENT_TERM}} only.</a>
                    {% else %}
                    <a href="?show_all=y">Show all terms.</a>
                    {% endif %}
                </p>
                <table class="table">
                    <thead>
                        <th>Course</th>
                        <th class="text-center">Similar To</th>
                    </thead>
                    <tbody>
                        {% for rec in recommendations %}
                        <tr>
                            <td>
                                {% include "components/course_summary.html" with course=rec.course only %}
                            </td>
                            <td class="text-center" style="vertical-align:middle">
                                <p>{{ rec.reason }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No recommendations to show. Try upvoting more classes!
            {% endif %}
        {% else %}
        <div>
        To see course recommendations, you must:
        <ul>
            <li>Have upvoted {{ constants.REC_UPVOTE_REQ }} classes as good.</li>
        </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
