<h3><a href="{% url 'course_detail' course.id %}">{{ course }}</a></h3>
<h5>
    {{ course.review_set.count }} reviews
    {% if course.distribs_string %} | {{ course.distribs_string }} {% endif %}
    {% if course.offered_times_string %} | Offered during {{ course.offered_times_string }} {% endif %}
</h5>
{% if course.short_description %}
    <p>{{ course.short_description }} <a href="{% url 'course_detail' course.id %}">(see more)</a></p>
{% endif %}
{% if additional_content %}
    <p><i>{{ additional_content }}</i></p>
{% endif %}
